<div class="d-sm-flex justify-content-between align-items-center mb-4">
  <h3 class="text-dark mb-0">Dashboard</h3>
  <!-- TODO: generate a report -->
  <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button">
    <!-- href="/report" -->
    Date: <%- new Date().toISOString().slice(0, 10) %>
  </a>
</div>

<!-- Generate Report -->
<!-- <i class="fas fa-download fa-sm text-white-50"></i>&nbsp Generate Report-->
