<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title><%= data.title %></title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"
    />
    <link rel="stylesheet" href="fonts/fontawesome-all.min.css" />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <!-- side navbar -->
      <%- include('side-navbar') %>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <!-- top navbar -->
          <%- include('top-navbar.ejs') %>
          <div class="container-fluid">
            <div
              class="d-sm-flex justify-content-between align-items-center mb-4"
            >
              <h3 class="text-dark mb-0">Dashboard</h3>
              <a
                class="btn btn-primary btn-sm d-none d-sm-inline-block"
                role="button"
                href="#"
                ><i class="fas fa-download fa-sm text-white-50"></i
                >&nbsp;Generate Report</a
              >
            </div>
            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">Percentage</h6>
                  </div>
                  <div class="card-body">
                    <h4 class="small fw-bold">
                      Server migration<span class="float-end">20%</span>
                    </h4>
                    <div class="progress mb-4">
                      <div
                        class="progress-bar bg-danger"
                        aria-valuenow="20"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 20%"
                      >
                        <span class="visually-hidden">20%</span>
                      </div>
                    </div>
                    <h4 class="small fw-bold">
                      Sales tracking<span class="float-end">40%</span>
                    </h4>
                    <div class="progress mb-4">
                      <div
                        class="progress-bar bg-warning"
                        aria-valuenow="40"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 40%"
                      >
                        <span class="visually-hidden">40%</span>
                      </div>
                    </div>
                    <h4 class="small fw-bold">
                      Customer Database<span class="float-end">60%</span>
                    </h4>
                    <div class="progress mb-4">
                      <div
                        class="progress-bar bg-primary"
                        aria-valuenow="60"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 60%"
                      >
                        <span class="visually-hidden">60%</span>
                      </div>
                    </div>
                    <h4 class="small fw-bold">
                      Payout Details<span class="float-end">80%</span>
                    </h4>
                    <div class="progress mb-4">
                      <div
                        class="progress-bar bg-info"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 80%"
                      >
                        <span class="visually-hidden">80%</span>
                      </div>
                    </div>
                    <h4 class="small fw-bold">
                      Account setup<span class="float-end">100% !!!</span>
                    </h4>
                    <div class="progress mb-4">
                      <div
                        class="progress-bar bg-success"
                        aria-valuenow="100"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 100%"
                      >
                        <span class="visually-hidden">100%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">Subjects</h6>
                  </div>
                </div>
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="formCheck-1"
                      /><label class="form-check-label" for="formCheck-1"
                        >Sub 1</label
                      >
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="formCheck-5"
                      /><label class="form-check-label" for="formCheck-5"
                        >Sub 2</label
                      >
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="formCheck-4"
                      /><label class="form-check-label" for="formCheck-4"
                        >Sub 3</label
                      >
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="formCheck-3"
                      /><label class="form-check-label" for="formCheck-3"
                        >Sub&nbsp;4</label
                      >
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="formCheck-2"
                      /><label class="form-check-label" for="formCheck-2"
                        >Sub 5</label
                      >
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0" id="log">
                      Attendance Log
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-6 text-nowrap">
                        <div
                          id="dataTable_length-1"
                          class="dataTables_length"
                          aria-controls="dataTable"
                        >
                          <label class="form-label"
                            >Show&nbsp;<select
                              class="d-inline-block form-select form-select-sm"
                            >
                              <option value="10" selected="">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option></select
                            >&nbsp;</label
                          >
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div
                          class="text-md-end dataTables_filter"
                          id="dataTable_filter-1"
                        >
                          <label class="form-label"
                            ><input
                              type="search"
                              class="form-control form-control-sm"
                              aria-controls="dataTable"
                              placeholder="Search"
                          /></label>
                        </div>
                      </div>
                    </div>
                    <div
                      class="table-responsive table mt-2"
                      id="dataTable-1"
                      role="grid"
                      aria-describedby="dataTable_info"
                    >
                      <table class="table my-0" id="dataTable">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <img
                                class="rounded-circle me-2"
                                width="30"
                                height="30"
                                src="images/avatars/avatar1.jpeg"
                                alt=""
                              />Airi Satou
                            </td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>33</td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                          </tr>
                          <tr>
                            <td>
                              <img
                                class="rounded-circle me-2"
                                width="30"
                                height="30"
                                alt=""
                                src="images/avatars/avatar2.jpeg"
                              />Angelica Ramos
                            </td>
                            <td>Chief Executive Officer(CEO)</td>
                            <td>London</td>
                            <td>47</td>
                            <td>2009/10/09<br /></td>
                            <td>$1,200,000</td>
                          </tr>
                          <tr>
                            <td>
                              <img
                                class="rounded-circle me-2"
                                alt=""
                                width="30"
                                height="30"
                                src="images/avatars/avatar3.jpeg"
                              />Ashton Cox
                            </td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009/01/12<br /></td>
                            <td>$86,000</td>
                          </tr>
                          <tr>
                            <td>
                              <img
                                class="rounded-circle me-2"
                                width="30"
                                alt=""
                                height="30"
                                src="images/avatars/avatar4.jpeg"
                              />Bradley Greer
                            </td>
                            <td>Software Engineer</td>
                            <td>London</td>
                            <td>41</td>
                            <td>2012/10/13<br /></td>
                            <td>$132,000</td>
                          </tr>
                          <tr>
                            <td>
                              <img
                                class="rounded-circle me-2"
                                width="30"
                                alt=""
                                height="30"
                                src="images/avatars/avatar5.jpeg"
                              />Your Mother
                            </td>
                            <td>Software Engineer</td>
                            <td>San Francisco</td>
                            <td>28</td>
                            <td>2011/06/07<br /></td>
                            <td>$206,850</td>
                          </tr>
                          <tr>
                            <td>
                              <img
                                class="rounded-circle me-2"
                                width="30"
                                alt=""
                                height="30"
                                src="images/avatars/avatar1.jpeg"
                              />Yours Williamson
                            </td>
                            <td>Integration Specialist</td>
                            <td>New York</td>
                            <td>61</td>
                            <td>2012/12/02<br /></td>
                            <td>$372,000</td>
                          </tr>
                          <tr>
                            <td>
                              <img
                                class="rounded-circle me-2"
                                width="30"
                                alt=""
                                height="30"
                                src="images/avatars/avatar2.jpeg"
                              />Bruno Nash<br />
                            </td>
                            <td>Software Engineer</td>
                            <td>London</td>
                            <td>38</td>
                            <td>2011/05/03<br /></td>
                            <td>$163,500</td>
                          </tr>
                          <tr>
                            <td>
                              <img
                                class="rounded-circle me-2"
                                width="30"
                                alt=""
                                height="30"
                                src="images/avatars/avatar3.jpeg"
                              />Caesar Vance
                            </td>
                            <td>Pre-Sales Support</td>
                            <td>New York</td>
                            <td>21</td>
                            <td>2011/12/12<br /></td>
                            <td>$106,450</td>
                          </tr>
                          <tr>
                            <td>
                              <img
                                class="rounded-circle me-2"
                                width="30"
                                alt=""
                                height="30"
                                src="images/avatars/avatar4.jpeg"
                              />Cara Stevens
                            </td>
                            <td>Sales Assistant</td>
                            <td>New York</td>
                            <td>46</td>
                            <td>2011/12/06<br /></td>
                            <td>$145,600</td>
                          </tr>
                          <tr>
                            <td>
                              <img
                                class="rounded-circle me-2"
                                width="30"
                                alt=""
                                height="30"
                                src="images/avatars/avatar5.jpeg"
                              />Cedric Kelly
                            </td>
                            <td>Senior JavaScript Developer</td>
                            <td>Edinburgh</td>
                            <td>22</td>
                            <td>2012/03/29<br /></td>
                            <td>$433,060</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Position</strong></td>
                            <td><strong>Office</strong></td>
                            <td><strong>Age</strong></td>
                            <td><strong>Start date</strong></td>
                            <td><strong>Salary</strong></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-md-6 align-self-center">
                        <p
                          id="dataTable_info-1"
                          class="dataTables_info"
                          role="status"
                          aria-live="polite"
                        >
                          Showing 1 to 10 of 27
                        </p>
                      </div>
                      <div class="col-md-6">
                        <nav
                          class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"
                          aria-label="pagination"
                        >
                          <ul class="pagination">
                            <li class="page-item disabled">
                              <a
                                class="page-link"
                                aria-label="Previous"
                                href="#"
                                ><span aria-hidden="true">«</span></a
                              >
                            </li>
                            <li class="page-item active">
                              <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" aria-label="Next" href="#"
                                ><span aria-hidden="true">»</span></a
                              >
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                  <ul class="list-group list-group-flush"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span>Copyright © theunconcernedape 2023</span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
