<nav
  class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
  aria-label="sidebar1"
>
  <div class="container-fluid d-flex flex-column p-0">
    <a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
      href="/"
    >
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-book-dead"></i>
      </div>
      <div class="sidebar-brand-text mx-3">
        <span> <%= user.FirstName + " " + user.LastName %> </span>
      </div>
    </a>
    <hr class="sidebar-divider my-0" />
    <ul class="navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item">
        <% if (active == 'dash') { %>
        <a class="nav-link active" href="/"
          <% } else { %>
          <a class="nav-link" href="/" <% } %>
          ><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a
        >
      </li>
      <li class="nav-item">
        <% if (active == 'profile') { %>
        <a class="nav-link active" href="/profile"
          <% } else { %>
          <a class="nav-link" href="/profile" <% } %>
          ><i class="fas fa-user"></i><span>Profile</span></a
        >
      </li>
      <li class="nav-item">
        <% if (active == 'friends') { %>
        <a class="nav-link active" href="/friends"
          <% } else { %>
          <a class="nav-link" href="/friends" <% } %>
          ><i class="far fa-address-book"></i><span>Friends</span></a
        >
      </li>
      <li class="nav-item"></li>
      <li class="nav-item">
        <% if (active == 'timetable') { %>
        <a class="nav-link active" href="/timetable"
          <% } else { %>
          <a class="nav-link" href="/timetable" <% } %>
          ><i class="far fa-calendar-times"></i><span>Weekly Timetable</span></a
        >
      </li>
    </ul>
    <div class="text-center d-none d-md-inline"></div>
    <button
      class="btn rounded-circle border-0"
      id="sidebarToggle"
      type="button"
    ></button>
  </div>
</nav>
